<%= form_for(@user) do |f| %>
 <%= render 'shared/error_messages', :object => f.object %>
 <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
 <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
 <div class="field">
    <%= f.label :handle %><br />
    <%= f.text_field :handle %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :admin %><%= f.check_box :admin %>
    <%= f.label :accept_bids %><%= f.check_box :accept_bids %>
    <%= f.label :make_bids %><%= f.check_box :make_bids %>
    <%= f.label :accept_offers %><%= f.check_box :accept_offers %>
    <%= f.label :make_offers %><%= f.check_box :make_offers %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>