<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.handle %></td>
  <td><%= user.email %></td>
  <td><%= user.client_id %></td>
  <td><%= "YES" if user.admin %></td>
  <td><%= link_to "view", user_path(user) %></td>
  <td><%= link_to "edit", edit_user_path(user) %></td>
  <td><%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.handle}" %></td>
</tr>
